.page-wrapper {
  background-color: #EDE4E0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  overflow-x: hidden;
}
body {
  background-color:#425F57 ;
}

h3,
h2,
h4,
h6 {
  font-family: 'Shrikhand', cursive;
}

h1 {
    font-family: 'Shrikhand', cursive;
}

h5 {
  font-weight: bold;
}

.navbar {
  height: 10vh;
}

.navbar-brand {
  font-size: 1.8rem;
}

#meditation-pic {
  margin-left: 2vw;
  height: 5vh;
  width: auto;
  margin-right: .5vw;
}

.nav-link {
  padding-left: 12px;
  padding-right: 12px;
}

.navbar-light .navbar-nav .nav-link {
  color: #D2E69C;
}

.navbar-light .navbar-brand {
  color: #D2E69C;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #D2E69C;
}

.dropdown-menu {
  background-color: #749f82;
}

.dropdown-item {
  font-size: 1.3rem;
}
  .container-fluid {
    background-color: #446A46;
  }
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #333333 !important;
  font-size: 1.7rem;
  border-radius: 0px;
  margin-top: 2%;
  width: 35%;
  height: 5vh;
  font-weight: bold;
  border: 2px solid #333333;
  transition: 0.3s;
  box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
  background-color: #749f82;
}


.btn:hover {
  box-shadow: 0 0 #333;
  color: #fff !important;
  background-color: #333;

}

.btn:active {
  background-color: #fff !important;
  color: #333 !important;
}




a:link,
.fa-instagram:link{
  color: #D2E69C;
  text-decoration: none;
}

a:visited,
.fa-instagram:visited {
  color: #D2E69C;
  text-decoration: none;
}


a:hover,
.fa-instagram:hover {
  color: #CDBE78;
  text-decoration: underline;
}

a:active,
.fa-instagram:active {
  color: #FFB200;
  text-decoration: underline;

}

.about-me {
  text-align: center;
  margin: 14vh auto 4vh auto;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  font-size: 1.5vw;
  text-align: left;
}

#text-column,
#about-img {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.headers {
  font-size: 2.5vw;
}

#who-i-am {
  margin-bottom: 3%;
}

.card {
  display: none;
}
footer {
  background-color: #446A46;
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center
}

#links-section {
  color: #D2E69C;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
}
#footer-about {
text-align: center;
width: 60%;
}

.footer-col {
  display: flex;
  justify-content: center;
 }
 
/**mobile-view**/
@media (min-width:320px) and (max-width:480px) {
  .navbar-brand {
    font-size: 1.7rem;
  }


  .about-me {
    display: none;
  }

  .card {
    margin: 12vh auto 2vh auto;
    background-color: #EDE4E0;
    border: none;
    display: block;
    height: fit-content;
    width: 100vw;
    font-size: 4.5vw;
  }

  footer {
    height: 30vh;
    font-size: 5.5vw;
  }
  #links-section, #insta-link {
    flex-direction: column; ;
  width: 95%;
  align-items: center;
  }
  #footer-about {
    display: none;
  }

  @media (max-width: 375px) and (max-height: 667px) {

    /**Iphone SE**/

  }

}

/**Tablet**/
@media (min-width: 768px) and (max-width:768px) {

  .btn {
    margin-left: -10px;
    width: 60%;
  }
 footer { 
  height: 30vh;
}
.row {font-size: 1.3rem;}

  .headers {
    font-size: 4vw;
  }

  .about-me {
    font-size: 3vw;
    text-align: left;
    flex-direction: column-reverse;
  }

  #text-column,
  #about-img {
    width: 100%;
  }

  #about-img {
    margin-bottom: 5%;
  }


}

/**Ipad**/
@media (min-width:768px) and (max-width: 1024px) and (min-height:1000px) {

  h1 {
    font-size: 2.5rem;
  }

  .btn {
    margin-left: -10px;
    width: 45%;
  }

.row {font-size: 1.3rem;}

  .headers {
    font-size: 5vw;
  }

  .about-me {
    font-size: 3.5vw;
    text-align: left;
    flex-direction: column-reverse;
  }

  #text-column,
  #about-img {
    width: 100%;
  }

  #about-img {
    margin-bottom: 5%;
  }


}