@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.page-wrapper {
  background-color: #EDE4E0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  overflow-x: hidden;
}
body {
  background-color:#425F57 ;
}

h3,
h2,
h4,
h6 {
  font-family: 'Shrikhand', cursive;
}

.navbar {
  height: 10vh;
  position: relative;
}

.navbar-brand {
  font-size: 1.8rem;
}

#meditation-pic {
  margin-left: 2vw;
  height: calc(40px + 1vw);
  width: calc(40px + 1vw);
  margin-right: .5vw;
}

.nav-link {
  padding-left: 12px;
  padding-right: 12px;
}

.navbar-light .navbar-nav .nav-link {
  color: #D2E69C;
}

.navbar-light .navbar-brand {
  color: #D2E69C;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #D2E69C;
}

.dropdown-menu {
  background-color: #749f82;
}
.dropdown-item {
  font-size: 1.3rem;
}
  .container-fluid {
    background-color: #446A46;
  }
a:link,
.fa-instagram:link{
  color: #D2E69C;
  text-decoration: none;
}

a:visited,
.fa-instagram:visited {
  color: #D2E69C;
  text-decoration: none;
}


a:hover,
.fa-instagram:hover {
  color: #CDBE78;
  text-decoration: underline;
}

a:active,
.fa-instagram:active {
  color: #FFB200;
  text-decoration: underline;

}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 2vh auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}


input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

.footer-distributed {
  background-color: #446A46;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #D2E69C;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #D2E69C;
  margin: 0 0 10px;
  padding: 0;
  font-size: 1.5rem;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #D2E69C;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #446A46;
  border-radius: 2px;
  font-size: 35px;
  color: #D2E69C;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
 .footer-distributed .footer-links a:nth-of-type(4)::before , .footer-distributed .footer-links a:nth-of-type(5)::before  {
    content: none;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}
.card {
  height: 30%;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #333333!important;
  font-size: 1.7rem;
  border-radius: 0px;
  margin-top: 2%;
  width: 35%;
  height: 5vh;
  font-weight: bold;
  border: 2px solid #333333;
  transition: 0.3s;
  box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
  background-color: #749f82;
}


.btn:hover {
  box-shadow: 0 0 #333;
  color: #fff!important;
  background-color: #333;

}

.btn:active {
  background-color: #fff!important;
  color: #333!important;
}


/**mobile-view**/
@media (min-width:320px) and (max-width:480px) {
  body {
    font-size: 1.3rem;
  }
.navbar-brand {
  font-size: 1.7rem;
}
  #services {
    width: 70%;
  }

  .btn {
    width: 60%;
  }

  #img-box {
    background-image: url("../images/background-mobile.png");
  }

  #about-me-wrapper {
    height: 45vh;
    display: flex;

  }

  #div-left {
    width: 80%;
  }

  #div-right {
    width: 45%;
  }

  @media (max-width: 375px) and (max-height: 667px) {

    /**Iphone SE**/
    #about-me-wrapper {
      height: 55vh;
    }
  }

}

/**Tablet**/
@media (min-width: 768px) and (max-width:768px) {


  .btn {
    margin-left: -10px;
    width: 60%;
  }
 footer { 
  height: 30vh;
}
.row {font-size: 1.3rem;}

  .container .row a {
    width: 80%;
  }
 body {
    font-size: 1.5rem;
  }

  .card img {
    padding-left: 1vw;
  }


  #about-me-wrapper a {
    width: 90%;
  }

}

/**Ipad**/
@media (min-width:768px) and (max-width: 1024px) and (min-height:1000px) {

  h1 {
    font-size: 2.5rem;
  }

 body {
    font-size: 1.5rem;
  }


.row {font-size: 1.3rem;}

  .card-text {}

  .btn {
    margin-left: -10px;
    width: 45%;
  }

  #about-me-wrapper {
    height: 35vh;
  }

  #div-left {
    width: 70%;
  }

  #div-right {
    width: 30%;
  }

  #about-me-wrapper p {}

  #div-right a {
    font-size: 1.7rem;
  }

  #carouselExampleDark {}

}