.container-fluid {
    background-color: #446A46;
}

.card-text {
    font-size: 1.15rem;
}
.btn {
    margin-left: -10px;
    width: 60%;
}
#about-me-wrapper {
    height: 35vh;
}

#div-left {
    width: 70%;
 }
 #div-right {
width: 30%;
 }
 #about-me-wrapper p {
    font-size: 1.4rem;
}
 #div-right a {
font-size: 1.7rem;
 }
