.container-fluid {
    background-color: #446A46;
}
.btn {
    margin-left: -10px;
        width: 45%;
}
.container .row a {
 width: 80%;
}
.card img {
    padding-left: 1vw;
}
#about-me-wrapper {
}
#about-me-wrapper p {
    font-size: 1.1rem;
}

 #about-me-wrapper a{
  width: 90%;
  font-size: 1.2rem;
}
